body{
	margin: 0;
	padding: 0;
	font-family: "shippori Mincho" , serif;
	font-size: 16px;
	line-height: 1.5; 
}
*{
	text-decoration: none;
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

a{
	transition: 0.3s;
}
a:hover{
	opacity: 0.2;
}


img {
	display: block;
	width: 100%;
	height: auto;
  }


.page-header,.page-hero,.page-content,.page-footer {
  min-width: 1280px;
  width: 100%;
}


.page-header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	padding: 16px 0 24px;
	background-color: #fff;
}

.page-header__inner,.page-content__inner {
  box-sizing: content-box;
}

.page-header {
  border-top: solid 4px #7f9916;
}

.page-header__inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}

.page-header .logo,.page-footer .logo {
  width: 256px;
}

.sns-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sns-list__item {
  width: 24px;
}

.sns-list__item:not(:first-child) {
  margin-left: 16px;
}


.page-header__inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.global-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.global-nav > .sns-list {
	margin-left: 64px;
}
.global-nav > .link-button {
	margin-left: 64px;
}

.link-button {
	display: table;
	width: 140px;
}

.menu-list {
	display: flex;
	flex-wrap: wrap;
}

.feature-list{
	display: flex;
	margin: 0 auto;
	max-width: 954px;
	justify-content: space-between;
}

.feature-list__item{
	max-width: 286px;
	text-align: center;
}
.feature-list__item h3{
	font-size: 32px;
	margin: 32px 0 12px 0;
}
.casestudy-list{
	display: flex;
	margin: 0 auto;
	max-width: 954px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.casestudy-list__item{
	max-width: 48%;
	margin-bottom: 40px; 
}
.casestudy-list__item h3{
	font-size: 32px;
	margin: 32px 0 12px 0;
}
.price-list{
	display: flex;
	margin: 0 auto;
	max-width: 1080px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.price-list__item{
	max-width: 30%;
	margin-bottom: 40px;
}
.price-list__item h3{
	font-size: 32px;
	margin: 32px 0 12px 0;
}
.voice-list__item{
	max-width: 1080px;
	margin:  0 auto;
}
.voice-list__item{
	border: 2px solid #7f9916;
	border-radius:  8px;
	padding: 40px 24px;
	margin-bottom: 32px; 

	display:  flex;
}
.voice-list__item img {
	max-width: 96px;
	margin-right: 40px;
}